/.idea/
**/__pycache__
/LightRAG/log
/LightRAG__pycache__
/LightRAG*.egg-info
/LightRAGdickens/
/LightRAGbook.txt
/LightRAGlightrag-dev/
/LightRAG.idea/
/LightRAGdist/
/LightRAGenv/
/LightRAGlocal_neo4jWorkDir/
/LightRAGneo4jWorkDir/
/LightRAGignore_this.txt
/LightRAG.venv/
/LightRAG*.ignore.*
/LightRAG.ruff_cache/
/fina
/app/__pycache__
/LightRAG/__pycache__
*.pyc
/LightRAG/fina
/LightRAG/fina/*
!/LightRAG/fina/data_format.json
!/LightRAG/fina/static_knowledge.txt
**/__pycache__/